
#logoutlink{
	float: right;
}

#topbar
{
    border: 10px;
    position: absolute;
    top:0%;
    left:0%;
    width:100%;
    height: 8%;
    font-style: oblique;
    background-color: rgb(176,149,104);
}

#log
{
    color:black;
    font-style: normal;
    font-family: monospace;
    font-size: 30px;
    position:absolute;
    right:0%;
    top:0%;
    height:72px;
}

#log:hover
{
    transition: ease 0.5s;
    background-color: black;
    color: rgb(176,149,104);
}

body
{
    background-image: url(../../../images/black_background.jpg);
    background-position: center;
    width: auto;
    height: auto;
}

.wrap
{
    position: absolute;
    top:10%;
    width: 70%;
    border-radius: 20px;
    left:13%;
    background:rgba(0,0,0,0.8);
    padding:40px;
    color:#fff;
    margin-top:0px;
    height: 80%;
    font
}

#back
{
    position: absolute;
    bottom:0%;
    right:0%;
    width:150px;
}
button
{
    background-color: transparent;
    color: rgb(176,149,104);
    border-color: transparent;
    width:200px;
    font-size: 45px;
    font-family: monospace;
    border-radius:30px;

}
button:hover
{
    transition: ease 0.7s;
    background-color:  rgb(176,149,104);
    color: black;
    outline-color: transparent;
}
